@page "/"
@inject HubService HubService
@inject BrowserService BrowserService
@implements IDisposable

<Layout>
    <LayoutHeader>
        <Bar Breakpoint="Breakpoint.Desktop" Background="Background.Light">
            <BarBrand>Video Chat</BarBrand>
            <BarMenu>
                <BarStart>Hub: @HubService.State</BarStart>
                <BarEnd>
                    @if (Me != null)
                    {
                        <BarItem>
                            <Icon Name="IconName.User" Margin="Margin.Is1"></Icon>@Me.Name
                            <Button Margin="Margin.Is1" Size="ButtonSize.Small" Color="Color.Warning" Clicked="Logout">Logout</Button>
                        </BarItem>
                    }
                </BarEnd>
            </BarMenu>
        </Bar>
        <hr />
    </LayoutHeader>
    <LayoutContent Margin="Margin.Is3">
        @if (Me != null)
        {
            if (Me.IsAdmin)
            {
                <Admin OnMessage="ShowPopup" />
            }
            else
            {
                <Chat OnMessage="ShowPopup" @ref="chat" Me="@Me"></Chat>
            }
        }
    </LayoutContent>
</Layout>

<Modal @ref="loginModal" Closing="(e) => e.Cancel = e.CloseReason != CloseReason.UserClosing">
    <ModalBackdrop />
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>Login</ModalTitle>
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Name</FieldLabel>
                <TextEdit @bind-Text="@userName" Placeholder="Name" />
            </Field>
            <Field>
                <FieldLabel>Password</FieldLabel>
                <TextEdit Attributes="@(new Dictionary<string, object>() {{ "type", "password" }})" @bind-Text="@password" Placeholder="Password" />
            </Field>
            <Field>
                <Check TValue="bool" @bind-Checked="@rememberMe">Remember Me</Check>
            </Field>
            <Text Color="TextColor.Danger">@loginMessage</Text>
        </ModalBody>
        <ModalFooter>
            <Button Disabled="string.IsNullOrEmpty(userName) || string.IsNullOrEmpty(password)" Color="Color.Primary" Clicked="() => Login(userName, password)">Login</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Snackbar @ref="popup" Color="SnackbarColor.Danger" Location="SnackbarLocation.Right" Interval="5000">
    <SnackbarBody>
        @popupMessage
    </SnackbarBody>
</Snackbar>

@code {
    Modal loginModal;
    Snackbar popup;

    string userName, password;
    bool rememberMe;
    string loginMessage, popupMessage;

    User Me { get; set; }
    Chat chat;

    protected override async Task OnInitializedAsync()
    {
        var userInfo = await BrowserService.GetUser();

        if (userInfo != null)
        {
            Me = await HubService.Login(userInfo.Name, userInfo.Password);
        }
        else
        {
            loginModal.Show();
        }
    }

    async Task Login(string userName, string password)
    {
        Me = await HubService.Login(userName, password);

        if (Me != null)
        {
            loginMessage = null;
            loginModal.Hide();

            if (rememberMe)
            {
                await BrowserService.SetUser(Me.Name, password);
            }
        }
        else
        {
            loginMessage = "Login failed: invalid user name or password";
        }
    }

    async Task Logout()
    {
        if (!Me.IsAdmin)
        {
            await chat?.Leave();
        }

        await BrowserService.RemoveUser();

        Me = null;
        loginModal.Show();
    }

    void ShowPopup(string message)
    {
        popupMessage = message;
        popup.Show();
    }


    public void Dispose()
    {
        _ = HubService.Dispose();
    }
}